body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url('imagenes/esc1.png');
	background-size: cover;
	background-position: center;
	font-family: 'Arial', sans-serif;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 100vh;
}

.dialog-box {
	width: 90%;
	max-height: 200px; 
	overflow-y: auto; 
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	color: white;
	text-align: center;
	margin-bottom: 20px;
}

.dialog-text {
	font-size: 18px;
	line-height: 1.5;
}

.dialog-box button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.dialog-box #left {
    float: left;
}

.dialog-box #right {
    float: right;
}